@page "/overview"
@attribute [StreamRendering]

<PageTitle>Overview</PageTitle>

<h3>Overview</h3>



@code {
    // List<objects> data = new List<objects>
    // {
    //     new objects { Name = "Object1", Description = "This is the first object." },
    //     new objects { Name = "Object2", Description = "This is the second object." },
    //     new objects { Name = "Object3", Description = "This is the third object." }
    // };
}
